<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highest Scoring Candidate</title>
</head>

<body>
    <h1>Highest Scoring Candidate</h1>
    <ul>
        <% for( let marks in topper) { %>
            <li>
                <%= topper[marks].candidate.username %> : <%= topper[marks].total %>/30
            </li>
            <% } %>

    </ul>
    <a href="/candidates">All candidates</a>
</body>

</html>